* {
    margin: 0;
    padding: 0;
}

:root{
    --color-light: #f5eaea;
    --color-dark: #4d4646;
    --color-accent: #7fcd91;
    --color-neutral: #ffffff;
    --font: Ubuntu, serif;
    --border-radius: 25px;
}

html, body {
    height: 100%;
    background: var(--color-light);
    font-family: var(--font);
}

#header {
    width: 100%;
    background: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    padding: 25px 0;
}


#content-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

#side-bar {
    width: 20%;
    background: var(--color-accent);
    height: 100%;
}

#side-bar a{
    text-decoration: none;
    color: var(--color-neutral);
    background: var(--color-dark);
    cursor: pointer;
    padding: 10px;
    transition: 500ms;
}

#side-bar a:hover{
    padding: 10px 40px;
}

#side-bar li {
    margin: 25px 0;
}

#main-content {
    width: 75%;
    border-radius: var(--border-radius);
    margin: 10px 2.5% 0 2.5%;
    box-sizing: border-box;
    padding: 30px;
    background: var(--color-neutral);
}



#footer {
    background: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
