Header {
    width: 100%;
    color: var(--color-3);
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

Header > a{
    font-family: var(--font-2);
    font-size: 28px;
    text-decoration: none;
    margin-left: 4%;
    cursor: pointer;
    color: var(--color-3);
}
